* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  --green: hsl(160deg, 100%, 30%);
  --light-gold: hsl(45deg, 100%, 50%);
  --dark-gold: hsl(45deg, 100%, 40%);

  --grey-black: hsl(0deg, 0%, 0%);
  --grey-very-dark: hsl(0deg, 0%, 10%);
  --grey-dark: hsl(0deg, 0%, 30%);
  --grey-medium: hsl(0deg, 0%, 40%);
  --grey-light: hsl(0deg, 0%, 60%);
  --grey-white: hsl(0deg, 0%, 100%);
}

/* Add styles here! */
.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 64px 0;
}

h1 {
  padding-bottom: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0px;
}

strong {
  color: var(--green);
}

main {
  background-color: var(--grey-light);
  border-top: 8px solid var(--grey-medium);
  height: 100%;
}

.intro-chunk,
.card {
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  background-color: var(--grey-white);
  border-bottom: 8px solid var(--grey-medium);
  padding-top: 8px;
}

.indented-heading {
  background-color: var(--light-gold);
  border-bottom: 8px solid var(--dark-gold);
  width: fit-content;
  padding: 16px 24px;
  margin-left: -24px;
}
